.mainContainer{
    display: flex;
    flex-direction: row;
    padding:5%;
    justify-content: space-evenly;

}

.container{
    max-width: 700px;
       width: 100%;
       margin: 0 auto;
       display: -webkit-box;
       display: -ms-flexbox;
       display: flex;
       -ms-flex-wrap: wrap;
       flex-wrap: wrap;
       padding-top: 75px;
}

